<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Simple PHP Framework for web Applications">
    <meta name="author" content="peter nyirenda">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ render_static('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ render_static('assets/css/style.css') }}" rel="stylesheet">
  </head>

  <body>
    <main role="main" class="container">
      <div class="starter-template">
        <h1>Devpyjoh Starter</h1>
        <p class="lead">A Simple PHP Framework for web Applications</p>
        <a href="/about" class="btn btn-success">Create New User</a>
        <br>
        <ul class="list-group">
          <li class="list-group-item">LIST OF USERS</li>
          {% for user in users %}
            <li class="list-group-item">{{ user.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
